.card .card-title {
  font-size: 0.86rem;
  text-transform: capitalize;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #000;
}

.card-title .category {
  font-size: 0.75rem;
  text-transform: uppercase;
  background-color: var(--primary-light);
  border-radius: 3px;
  padding: 2px;
  color: #fff;
}

.card .card-text {
  background-color: rgb(255, 234, 239);
  color: rgb(255, 92, 132);
  border-radius: 3px;
  padding: 5px;
}

.card .card-desc {
  font-size: 0.75rem;
}

.card .qty {
  width: fit-content;
}

.card .overQty {
  font-size: 14px;
  color: rgb(255, 92, 132);
}
